.main {
    background-color: #0079BF;
    height: 860px;
    padding: 20px 250px;
}

@media screen and (max-width:375px) {
    .main {
        padding: 90px 30px 20px;
        height: 100%;
    }
}

